name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Toolchain
        uses: ok-nick/setup-aftman@v0.4.2

      - name: Install Packages
        run: wally install

      - name: Lint
        run: selene src

      - name: Format Check
        run: stylua --check src

      - name: Build Plugin
        run: rojo build -o UIImporter.rbxm
