name: Release

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ok-nick/setup-aftman@v0.4.2

      - name: Install Wally
        run: wally install

      - name: Build Binary
        run: rojo build -o UI-Importer-Pro.rbxm

      - name: Upload Release Asset
        uses: softprops/action-gh-release@v1
        with:
          files: UI-Importer-Pro.rbxm
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
